<!DOCTYPE html>
<html>
<head>
	<title>Recipe</title>
</head>
<body>
	<h1> Create a Recipe </h1>
	<p><%= @error %></p>
<form action="/recipes" method="POST">
<label>Title</label>	
<input type="text" name= recipe[title]>
<label>Method</label>	
<textarea name=recipe[method]></textarea> 
<label>Image</label>	
<input type="text" name= recipe[image]>

 <label>Add Existing Ingredients or Create Your Own</label>
 <input type="text" name="ingredient[name]">

<% @ingredients.each_with_index do |ingredient,index| %>
   <% if index%8 == 0 %> 
   <br>
   <%end%>
<input type="checkbox"name="recipe[ingredient_ids][]" value="<%= ingredient.id %>"> <%= ingredient.name %></input>

<% end %>
 <br>
 <button type= "submit"> Add Recipe </button> 
 </form>
</body>


</html>