<div class="container">
  <header><img src=" " class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Plantiful Palate</h2>
    <h3>See what your friends are cooking and add your recipes</h3>

</div>
